<h1 class="pull-left">Listing articles <span class="badge badge-success"><%= @articles.count %></span></h1>

<table class="table table-bordered table-dark">
  <tr>
    <th scope="col">#</th>  
    <th scope="col">Title</th>
    <th scope="col">Text</th>
    <th scope="col" colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Article', new_article_path, class: "btn btn-primary btn-sm" %>