
<nav class="navbar navbar-expand-lg fixed-top bg-light border-bottom flex-md-nowrap p-0 shadow-sm">
  <div class="container">
  <%= link_to root_path , class:"hardware-brand col-sm-3 col-md-2 mr-0" do %>
  Lyle's <span class="hardware">HARDWARE</span>
  <% end %>
  
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarNav">
	  <%= search_form_for @q ,:html => {class:'form-inline navbar-form navbar-left w-100'} do |f|  %>
	  <%= f.search_field :text_cont, class:'form-control form-control-dark mr-sm-2 search-navbar  my-2 my-sm-0 col-9', placeholder: "Search" %>
	  <%= f.submit 'Search'%>
	  <% end %>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to "Reviews", root_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item text-nowrap">
        <%= link_to "Gallery", gallery_index_path, class: "p-2 text-dark nav-link small" %>
      </li>
      <li class="nav-item text-nowrap">
        <%= link_to "Deals", welcome_deals_path, class: "p-2 text-dark nav-link small" %>
      </li>
    </ul>
  </div>
</div>
</nav>


