<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
		<th scope="col">Items</th>
      <th scope="col"colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
		  <th scope="row"><%= cart.line_items.count %>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Cart', new_cart_path, class:"btn btn-primary btn-small" %> -->
