<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
<div class="alert alert-warning" role="alert">
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
</div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description , class:"form-control" %>
  </div>

 <div class="field">
    <%= form.label :list_price %>
    <%= form.text_field :list_price  , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.text_field :sale_price  , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :purchase_url %>
    <%= form.text_field :purchase_url  , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url  , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
