<p id="notice"><%= notice %></p>

<h1>Image Posts <%= link_to "Gallery", gallery_index_path, class:"btn btn-primary btn-sm" %></h1>

<table class="table table-dark">
  <thead>
    <tr>
<th scope="col">#</th>
      <th scope="col">Caption</th>
      <th scope="col">Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_posts.each do |image_post| %>
      <tr>
<th  scope="row"><%= image_post.id %></th>
        <td><%= image_post.caption %></td>
        <td><%= image_post.link %></td>
        <td><%= link_to 'Show', image_post %></td>
        <td><%= link_to 'Edit', edit_image_post_path(image_post) %></td>
        <td><%= link_to 'Destroy', image_post, method: :delete, data: { confirm: 'Are you sure?' }, class:"badge badge-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image Post', new_image_post_path, class:"btn btn-primary btn-sm" %>
