



<% if notice%>
<div class="alert alert-info" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<% end %>

<h1>Catalog</h1>

<div class="card-columns">
<% @products.each do |product|%>

<div class="card mb-3">
  <div class="card-header small text-muted">Product</div>
  <div class="card-body">
	
      	<img src="<%= product.image_url %>" class="img-fluid" />
     
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text"><%= sanitize(product.description) %></p>
  </div>
  <div class="card-footer">
	  <small class="text-muted">
				Price: <%= sprintf("$%0.02f",product.price) %>
				<%= button_to 'Add to Cart', line_items_path(product_id: product), class:"btn btn-outline-primary"%>
			</small>
		</div>
</div>


<% end %>
</div>