



<% if notice %>
<div class="alert alert-info" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<% end %>

<h1>Catalog</h1>

<div class="card-columns">
<% @products.each do |product|%>

<div class="card mb-3">
  <div class="card-header small text-muted">Product</div>
  <div class="card-body">
	
      	<img src="<%= product.image_url %>" class="img-fluid" />
     
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text"><%= sanitize(product.description) %></p>
  <p class="card-text small text-muted">
			Price: <%= sprintf("$%0.02f",product.price) %>
			
		</p>
  </div>
  <div class="card-footer">
	  <%= link_to 'View Product', product, class:"btn btn-info"%>
		</div>
</div>


<% end %>
</div>