<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Lyle's Hardware</title>
	
	<meta property="og:url"           content="<%= request.original_url %>" />
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="Lyle's Hardware" />
	  <meta property="og:description"   content="Website for everything computer hardware related" />

<%= favicon_link_tag asset_path('icon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="theme-color" content="#fafafa">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>
<style>

</style>
<!—- ShareThis BEGIN -—>
<script async src="//platform-api.sharethis.com/js/sharethis.js#property=5cca53610ff462001290dd7f&product="sticky-share-buttons"></script>
<!—- ShareThis END -—>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8783854618839636",
    enable_page_level_ads: true
  });
</script>
  </head>

  <body>

  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-clouds border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
<%= link_to root_path do %>
<%= image_tag "lyleshardwarelogo.png" %>
<% end %>
	</h5>
    <nav class="my-2 my-md-0 mr-md-3">
<%= link_to "Reviews", root_path, class: "p-2 text-dark" %>
<%= link_to "Gallery", gallery_index_path, class: "p-2 text-dark" %>
<%= link_to "Deals", welcome_deals_path, class: "p-2 text-dark" %>
    </nav>
    <a class="btn btn-outline-primary" href="#">Store <span class="badge badge-light">0</span></a>
  </div>
  <div class="container-fluid">
  <div class="row">
<div class="col-12">
<p class="text-muted text-center"><small>Lyle's Hardware reviews products.  When you click our links to buy products we earn a percentage to fund <%= link_to "this site", root_path %>.</small></p>
<div>
  </div>
  
  <div class="row">
    <div id="left-column" class="col-8 pull-left">
		
      <%= yield %>
	  <%= render "welcome/amazon_banner"%>
    </div>
	<div id="right-column" class="col-4 pull-right">
		
		<%= render "welcome/twitter_feed"%>
		<%= render "welcome/amazon_music"%>
		
	</div>
  </div>
</div>
<footer class="pt-4 my-md-5 pt-md-5 border-top container-fluid">
      <div class="row">
        <div class="col-12 col-md">
<%= link_to root_path do %>
          <%= image_tag "lyleshardwarelogo.png" %>
<% end %>
          <small class="d-block mb-3 text-muted">&copy; 2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">

            <li><%= link_to "Reviews", root_path, class: "text-muted" %></li>
            <li><%= link_to "Gallery", gallery_index_path, class: "text-muted" %></li>
            <li><%= link_to "Deals", welcome_deals_path, class: "text-muted" %></li>

          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Downloads", welcome_downloads_path, class: "text-muted" %></li>
            <li><a class="text-muted" href="#">How To Videos</a></li>
            <li><a class="text-muted" href="https://pcpartpicker.com">PC Parts Picker</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Team", welcome_team_path, class: "text-muted" %></li>
            <li><%= link_to "About", welcome_about_path, class: "text-muted" %></li>
			<li><%= link_to "Support", welcome_support_path, class: "text-muted" %></li>
			<li><%= link_to "Contact Us", welcome_contact_path, class: "text-muted" %></li>
            <li><%= link_to "Privacy", welcome_privacy_path, class: "text-muted" %></li>
            <li><%= link_to "Terms", welcome_terms_path, class: "text-muted" %></li>
			<li><%= link_to 'Admin', controller: 'articles' %></li>
          </ul>
        </div>
      </div>
    </footer>
	
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122671023-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122671023-2');
</script>


	  
	  <script id="dsq-count-scr" src="//lyle-goff.disqus.com/count.js" async></script>
  </body>
</html>
